import /init.recovery.usb.mt6895.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"
    setprop sys.usb.ffs.aio_compat 1

on fs && property:ro.debuggable=1
    setprop sys.usb.config adb

on boot
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
